@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/gilroy-bold.ttf") format("truetype"),
    url("/fonts/Gilroy-Heavy.ttf") format("truetype"),
    url("/fonts/Gilroy-Light.ttf") format("truetype"),
    url("/fonts/Gilroy-Medium.ttf") format("truetype"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
}

/* .gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
} */
